
@font-face {
    font-family: "ikea font";
    src: url("../fonts/noto-ikea-700.woff2");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Ikea font";
    src: url("../fonts/noto-ikea-400.woff2");
    font-weight: 400;
  }
  
  body{
    font-family:"Ikea font";
  }

  
 div {
    columns: 2;
    margin-top: 5em;
    gap: 10px;
  }
  
  div img{
    width: 100%;
  }


   div img:nth-of-type(4) {
    height:14em;
  }
  
  
  @media (min-width: 768px) {
    div {
        columns: 3;
    }
}