
@font-face {
    font-family: "ikea font";
    src: url("../fonts/noto-ikea-700.woff2");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Ikea font";
    src: url("../fonts/noto-ikea-400.woff2");
    font-weight: 400;
  }
  
  body{
    font-family:"Ikea font";
  }



 

main section:nth-of-type(8) div {
  display: flex;
  background-color: rgb(219, 219, 219, 0.8);
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  gap: 5px;
}

main section:nth-of-type(8) div p {
  font-size: 10px;
}

main section:nth-of-type(8) section ul li > svg:first-of-type{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(219, 219, 219, 0.8);
  padding: 5px;
  border-radius: 20px;
  width: 22px;

}