
/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box; 

  }
  
  
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
    
--color-background-white:#FFFFFF;
--color-background-black:#000000;
--color-background-darkgray:#4D4D4D;
--color-background-lightgray:#F5F4F4;

--color-background-sb:#F5F4F4;
--color-background-hover-sb-btn:#DFDFDF;
--color-background-hover-link: #F5F4F4;

--color-text-darkgray:#4D4D4D;
--color-text-black:#000000;
--color-text-white:#FFFFFF;

--font-size-normaal:0.7em;
--font-size-h2:0.9em;
--font-size-h3:0.9em;
--font-size-h1:1.2em;
--font-size-links:10px;

  }

  
  @font-face {
    font-family: "ikea font";
    src: url("../fonts/noto-ikea-700.woff2");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Ikea font";
    src: url("../fonts/noto-ikea-400.woff2");
    font-weight: 400;
  }


  /****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* header stuk */
/* zwarte header stukje 1e section in header  */ 





h1{
  font-size: var(--font-size-h1);
}

h2{
  font-size: var(--font-size-h2);
  margin-top: 3em;
  margin-bottom: 3em;
}

p{
  font-size: var(--font-size-normaal);
}

h3{
  font-size: var(--font-size-h3);
}

a {
  font-size: var(--font-size-links);
}



header section:nth-of-type(1) ul li:nth-of-type(1){
  margin-right: auto;

}

header section:nth-of-type(1){
  text-align: right;
}



header section:nth-of-type(1) svg {
  width: 2em;
  height: auto;
  fill: white;
}


header section:nth-of-type(1) ul{
  list-style: none;
  padding: 0.3em;
  margin: 0;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

header section:nth-of-type(1) li {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--font-size-links);

}

header section:nth-of-type(1) {
background: var(--color-background-black);
  padding: 4px;
color: var(--color-text-white);
}



header section:nth-of-type(2) { 
  display: grid;
  grid-template-columns: (1fr, 1fr, 1fr, 1fr, 1fr, 1fr);
  grid-template-rows: (1fr, 1fr);
align-items: center;
margin-top: 15px;
}

 header section:nth-of-type(2) svg {
  fill: #0B5AA4;
  width: 5em;
  margin-left: 3em;
 }



 header section:nth-of-type(2) ul svg:nth-of-type(1) {
  width: 20px;
  fill: black;
  margin: 0;
 }

  header section:nth-of-type(2) ul button{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content:center;
    align-items: center;
  }

  header section:nth-of-type(2) ul {
    grid-column-start: 6;
    grid-row-start: 1;
    list-style: none;
    display: flex;
    gap: 1em;
}




header {
  position: relative;
}

header nav div button span:nth-of-type(1)
{
transform: rotate(45deg);
}


header nav div button span:nth-of-type(2){
  transform: rotate(-45deg);
}


header nav div button span{
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: var(--color-background-black);

}



header nav div button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2rem;
  aspect-ratio: 1/1;
  background: transparent;
  border: none;
  width: 15px;
}

header nav div {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 1.5em;
}

header nav div input {
  width: 80%;
  padding: 0.8em;
  border-radius: 5em;
  border: none;
  background-color: #eee;
  font-size: 18px;
}


header nav.active {
  transform: translateX(0);
}

header nav {
transition: .2s;
position: fixed;
z-index: 10;
background-color: var(--color-background-white);
top: 0;
bottom: 0;
height: 100vh;
overflow-y: scroll;
left: 0;
width: 100%;
transform: translateX(-100vw);

}

header nav ul {
  padding-top: 2rem;
  list-style:none;
color: var(--color-text-darkgray);
}


header nav ul:nth-of-type(1){
  font-size: 25px;
  font-weight: bold;
  line-height: 2em;
cursor: pointer;
padding-top: 4em;
}



header nav ul:nth-of-type(2){
  font-weight: bold;
  line-height: 3em;
  cursor: pointer;
  font-size: 15px;
}


header nav ul:nth-of-type(3){
margin-top: -2em;
  line-height: 2.5em;
  cursor: pointer;
  font-size: 14px;

}

header nav li:hover{
  text-decoration: underline;
}

  header section:nth-of-type(2) ul svg:hover{
    background-color: #e8e8e8;
    border-radius: 10em;
    box-shadow: 0 0 0 .5em #e8e8e8 ;
  }




@media (width < 60em){
  header section:nth-of-type(2) form {
    grid-column: span 6 / span 6;
    grid-row-start:3;
  }
}


@media (min-width: 60em) {
  header section:nth-of-type(2) form {
    grid-column: 2 / 6; }
}



form {
    display: flex;
    align-items: center;
  background-color: var(--color-background-sb);
    padding: 10px;
    border-radius: 5em;
    margin-left: 1em;
    margin-right: 1em;
  
  }
  
  
form img {
    width: 35px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
form input{
    flex: 1;
    padding: 3px;
    border: none;
    outline: none;
    margin: 0 10px;
    background: none;
    font-size: 14px;
    color: var(--color-text-darkgray);
    font-weight: 500;
  }




  footer {
    margin: 0;
    padding: 0;
    font-family: "Ikea font";
   background-color: var(--color-background-lightgray);
    padding-bottom: 10em;
  }


  footer article{
    margin: 1em;
  }

  footer details{
    margin-left: 1em;
    margin-right: 1em;
  }



footer h4 { font-size: 13px;
 }

 footer p {
  color: var(--color-text-darkgray);
  font-size: 11px;
  margin-right: 2em;
}

footer a{ 
color: var(--color-text-black);
text-decoration: none;
font-size: 10px; 
padding: 1em;
border-radius: 3em;
padding-left: 2em;
padding-right: 2em;
}


footer a:nth-of-type(1)
{
  text-decoration: underline;
}

footer a:nth-of-type(2)
{
  background-color: black;
  color: white;
  font-weight: bold;
}
footer ul {
  margin-top: -0.3em;
}

footer li:hover{
  text-decoration: underline;
}


footer li {
  list-style-type: none;
  font-size: 11.5px;
  line-height: 3.3em;
  color: rgb(55, 55, 55);
  cursor: pointer;
  margin-left: -3.5em;
}
  details summary{
 line-height: 6em;
 font-weight: 700;
 font-size: 12px;
 list-style-type: none;
 cursor: pointer;

  }
footer details:nth-of-type(1){
  padding-top: 1em;
}

footer summary{
  border-top: 1px solid #d3d3d3;
}
footer summary:nth-of-type(4){
  border-bottom: 1px solid #d3d3d3;
}

footer section img{
  width: 40px;
}


footer section article:nth-of-type(1) ul {
  display: flex;
  gap: 1em;
}

footer section article:nth-of-type(2) ul {
  display: flex;
  gap: 1em;
  max-width: 100%;
}


footer section article ul img{
  border-radius: 2px;
}



footer section article:nth-of-type(3) {
  display: flex;
  align-items: center;
}
footer section article:nth-of-type(3) a {
  border: solid 1px;
text-decoration: none;
font-weight: bold;
display: flex;
align-items: center;
gap: 5px;

}
footer section article:nth-of-type(3) a img {
  width: 15px;
}




@media (min-width: 768px){
  footer section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

