/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  

  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {

      --color-background-pag2-pink:#E9C3B0;
      --color-background-pag2-darkyellow:#E7B956;
      --color-background-pag2-lightgreen:#D8DED7;
      --color-background-pag2-lightbrown:#DFBC9C;
      --color-background-pag2-lightyellow:#F3DAA5;

      --color-background-white:#FFFFFF;
      --color-background-black:#000000;
      --color-background-darkgray:#4D4D4D;
      --color-background-lightgray:#F5F4F4;
      
  }
  
  @font-face {
    font-family: "ikea font";
    src: url("../fonts/noto-ikea-700.woff2");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Ikea font";
    src: url("../fonts/noto-ikea-400.woff2");
    font-weight: 400;
  }
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */
  
  /* header stuk */
  
  body{
    font-family:"Ikea font";
   
  }
  
  h1 {
    padding-top: 1em;
    font-size:clamp(1.5em, 5vw, 2.5em); /* sanne heeft me uit gelegd is dat hij niet groter */
  }
  
  /* header ^^^^ */

  main {
    margin: 1em 1em;
    }
main section:nth-of-type(1) p {
    font-size: 12px;
    color: rgb(76, 76, 76);
}




/* section 2 met de keukens voor elk budget images */


main section:nth-of-type(2) {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 16px;
}

main section:nth-of-type(2) img{
width: 100%;  
height: 100%;
object-fit: cover;  
}

main section:nth-of-type(2) img:nth-of-type(1){
  grid-column: span 2 / span 2;
  grid-row: span 6 / span 6;
}

main section:nth-of-type(2) img:nth-of-type(2){
  grid-row: span 2 / span 2;
  grid-row-start: 7;
}

main section:nth-of-type(2) img:nth-of-type(3){
  grid-row: span 4 / span 4;
    grid-row-start: 7;
    object-position: 25% 75%;

}

main section:nth-of-type(2) img:nth-of-type(4){
  grid-row: span 4 / span 4;
  grid-row-start: 9;
  object-position: 90% 40%;
}

main section:nth-of-type(2) img:nth-of-type(5){
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 11;

}


/* section 2 met de keukens voor elk budget images */

/* section met de "vind de keuekn die bij je past */

main section:nth-of-type(3) img {
    width:14em; 
  }
  
  main section:nth-of-type(3) {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
    gap: 20px;
    }
  
    main section:nth-of-type(3) a {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 10px;
      background-color: #f5f5f5;
      color: black;
      text-decoration: none;
      padding: 1em;
      padding-left: 3em;
      padding-right: 3em;
      font-weight: 600;
      border-radius: 40em;
    }
  
  main section:nth-of-type(3){
    display: flex;
  }
  
  main section:nth-of-type(3) article {
    position: relative;
  }


/* gedeelte va  het beige rekje*/


  main section:nth-of-type(4) article:nth-of-type(2) {
    color: white;
  background-color: #d30707;
  padding-top: 0.5em;
  padding-bottom: 4em;
  font-family: "Ikea font";
  
  }
  
  
  
  @media (width > 60em) {
    main section:nth-of-type(4) {
      display:grid;
      grid-template-columns: 1fr 1fr;
  
    }
  }
  
  
  
  main section:nth-of-type(4) a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1em;
    font-weight: bold;
    border-radius: 5em;
    font-size: 12px;
    margin: 3rem;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  main section:nth-of-type(4) h3{
    margin: 3rem;
  }
  main section:nth-of-type(4) p {
    margin: 3rem;
    font-size: 14px;
    margin-top: -3em;
  }

  main section:nth-of-type(4) img {
    width: 100%;
  }

  main section:nth-of-type(4){
    margin-top: 3em;
  }

  /* gedeelte met er is geen keuken als die van jou */


  main section:nth-of-type(5) p {
    font-size: 13.5px;
    color: rgb(86, 86, 86);
  }
  main section:nth-of-type(5) {
    margin-top: 2em;
    margin-bottom: 2em;
  }
/* gedeelte ontwerp zelf in de keuken planner */ 

  main section:nth-of-type(6) ul {
    margin:0;
    padding:0;
    list-style-type:"";

    
    display:flex;
    overflow-x:auto;
    gap:1em;
    
    scroll-snap-type:x mandatory;
    
    overscroll-behavior-x:contain;
  }
  
  main section:nth-of-type(6) li {
    scroll-snap-align:center;
    
    width:min(80%, 24em);
    flex-shrink:0;
    background: #E7B957;
    
    display:flex;
    flex-direction:column;
  }
  
  main section:nth-of-type(6) li:nth-of-type(1){
    background-color: #E7B957;
  }
  main section:nth-of-type(6) li:nth-of-type(2){
    background-color: #E9C3B0;
  }

  main section:nth-of-type(6) li:nth-of-type(3){
    background-color: #D5DCD4;
  }
  
  main section:nth-of-type(6) li img {
    width:100%;
    order:-1;
  }
  
  main section:nth-of-type(6) li h3 {
    margin:0;
    padding:2rem 2rem 0 2rem;
  }
  
  main section:nth-of-type(6) li p {
    margin:0;
    margin-bottom:auto;
    line-height: 1.7em;
    padding:0 2rem 0 2rem;
  }
  
  main section:nth-of-type(6) li a {
    padding:0 2rem 2rem 2rem;
  }
  main section:nth-of-type(6) {
    margin-bottom: 4em;
    font-family: "Ikea font";
  }
  
  main section:nth-of-type(6) a {
  background-color: #111;
  margin: 0;
  font-family: "Ikea font";
  font-weight: bold;
  text-decoration: none;
  color: white;
    width: 70px; 
    height: 70px; 
    line-height: 70px; 
    text-align: center; 
    border-radius: 50%;
    margin: 2em;
  }




/* gedeelte met man in de keuken */

main section:nth-of-type(7) article:nth-of-type(2) {
  color: black;
background-color: #DDBC9C;
padding-top: 0.5em;
padding-bottom: 4em;
font-family: "Ikea font";

}



@media (width > 60em) {
  main section:nth-of-type(7) {
    display:grid;
    grid-template-columns: 1fr 1fr;

  }
}



main section:nth-of-type(7) a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1em;
  font-weight: bold;
  border-radius: 5em;
  font-size: 12px;
  margin: 3rem;
  padding-left: 2em;
  padding-right: 2em;
}

main section:nth-of-type(7) h3{
  margin: 3rem;
}
main section:nth-of-type(7) p {
  margin: 3rem;
  font-size: 14px;
  margin-top: -3em;
}

main section:nth-of-type(7) img {
  width: 100%;
}

/* gedeelte met maak je keuken af */
main section:nth-of-type(9) img {
  width:14em; 
}

main section:nth-of-type(9) {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
  gap: 20px;
  }

  main section:nth-of-type(9) a {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    background-color: #f5f5f5;
    color: black;
    text-decoration: none;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: 600;
    border-radius: 40em;
  }

main section:nth-of-type(9){
  display: flex;
}

main section:nth-of-type(9) article {
  position: relative;
}

/* gedeelte tips om te beginnen aan je keuken */

main section:nth-of-type(11) ul {
  margin:0;
  padding:0;
  list-style-type:"";

  
  display:flex;
  overflow-x:auto;
  gap:1em;
  
  scroll-snap-type:x mandatory;
  
  overscroll-behavior-x:contain;
}

main section:nth-of-type(11) li {
  scroll-snap-align:center;
  
  width:min(80%, 24em);
  flex-shrink:0;
  background: #E7B957;
  
  display:flex;
  flex-direction:column;
}

main section:nth-of-type(11) li:nth-of-type(1){
  background-color: #F3DAA5;
}
main section:nth-of-type(11) li:nth-of-type(2){
  background-color: #F5F5F5;
}

main section:nth-of-type(11) li:nth-of-type(3){
  background-color: black;
  color: white;
}

main section:nth-of-type(11) li img {
  width: 100%;
  order:-1;
  height: 300px;
  object-fit: cover;
}

main section:nth-of-type(11) li h3 {
  margin:0;
  padding:2rem 2rem 0 2rem;
}

main section:nth-of-type(11) li p {
  margin:0;
  margin-bottom:auto;
  line-height: 1.7em;
  padding:0 2rem 0 2rem;
}

main section:nth-of-type(11) li a {
  padding:0 2rem 2rem 2rem;
}
main section:nth-of-type(11) {
  margin-bottom: 4em;
  font-family: "Ikea font";
}

main section:nth-of-type(11) a {
background-color: #111;
margin: 0;
font-family: "Ikea font";
font-weight: bold;
text-decoration: none;
color: white;
  width: 70px; 
  height: 70px; 
  line-height: 70px; 
  text-align: center; 
  border-radius: 50%;
  margin: 2em;
}


/* gedeelte met de tekst keuken instalatie */

main section:nth-of-type(12) article {
  background-color: #eeeeee;
  line-height: 1.5;
  padding-bottom: 2em;
  padding-top: 2em;
}

main section:nth-of-type(12) h4,
main section:nth-of-type(12) p,
main section:nth-of-type(12) a {
  margin: 0;
  padding: 0;
  margin-left: 3rem;
}

main section:nth-of-type(12) p {
  font-size: 14px;
}

main section:nth-of-type(12) a {
  text-decoration: none;
  color:black;
  font-size: 14px;
  text-decoration: underline;
}




main section:nth-of-type(13) article {
  color: white;
  background-color: #02853E;
padding-top: 0.5em;
padding-bottom: 4em;
font-family: "Ikea font";

}


main section:nth-of-type(13) a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1em;
  font-weight: bold;
  border-radius: 5em;
  font-size: 12px;
  margin: 3rem;
  padding-left: 2em;
  padding-right: 2em;
}

main section:nth-of-type(13) h3{
  margin: 3rem;
}
main section:nth-of-type(13) p {
  margin: 3rem;
  font-size: 14px;
  margin-top: -3em;
}

main section:nth-of-type(13) img {
  width: 100%;
}

main section:nth-of-type(13){
  margin-top: 3em;
}


main section:nth-last-of-type(14) h2 {
margin-top: 0;
}


/* gedeelte met swipe functie shop de look */

main section:nth-of-type(15) img {
  width:20em;
  height: auto; 
  margin-top: 1em;
}


main section:nth-of-type(15){
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
  gap: 15px;
}



/* gedeelte met veel gestelde vragen */

main section:nth-of-type(16) p{
font-size: 13px;
}



main section:nth-of-type(16) form {
  display: flex;
  align-items: center;
  background-color: rgb(242, 242, 242);
  padding: 10px;
  border-radius: 5em;
}


main section:nth-of-type(16) form img {
  width: 20px;
  height: auto;
}

main section:nth-of-type(16) form input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  margin: 0 10px;
  background: none;
  font-size: 1em;
}

/* gedeelte swipe functie veel gestelde vragen */




main section:nth-of-type(17) {
  display: flex;
  gap: 1em;
  overflow-x: auto;

}

main section:nth-of-type(17) article {
  color: white;
  background-color: #02853E;
padding-top: 0.5em;
padding-bottom: 4em;
font-family: "Ikea font";
width: min(90%, 20em);
flex-shrink: 0; /* doet niet shrinken omdat het 0 is */
}


main section:nth-of-type(17) a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1em;
  font-weight: bold;
  border-radius: 5em;
  font-size: 12px;
  margin: 3rem;
  padding-left: 2em;
  padding-right: 2em;
}

main section:nth-of-type(17) h3{
  margin: 3rem;
  margin-top: 1em;
}
main section:nth-of-type(17) p {
  margin: 3rem;
  font-size: 14px;
  margin-top: -3em;
}

main section:nth-of-type(17) img {
  width: 100%;
}

main section:nth-of-type(17){
  margin-top: 3em;
}
