/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text:#111;
    --color-background:#eee;
    
}

@font-face {
  font-family: "ikea font";
  src: url("../fonts/noto-ikea-700.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Ikea font";
  src: url("../fonts/noto-ikea-400.woff2");
  font-weight: 400;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* header stuk */

body{
  font-family:"Ikea font";
 
}


header section:nth-of-type(1) {
  background-color: black;
  padding: 4px;
  color: white;
}


header p {
  background-color: rgb(238, 238, 238);
  color: rgb(87, 87, 87);
  padding: 1em;
  margin: 1em;
  border-radius: 5em;
  font-size: 15px;
  

}

nav img {
  margin-right: 10px;
  width: 40px;
  height: auto;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: flex;
  align-items: center;
  font-size: 13px;
 
}

header nav ul li:nth-of-type(1){
  margin-right: auto;

}

header section:nth-of-type(1){
  text-align: right;
}

header section:nth-of-type(2) img {
  width: 5em;
margin-bottom: -1em;
}




/* header stuk ^^^^ */

/* main stuk hier beneden */

main {
margin: 1em 1em;
}


main img:nth-of-type(1){
  width: 100%;
  height: auto;

}

main video:nth-of-type(1){
  width: 100%;
  height: auto;

}


h1 {
  font-size: 23px;
  padding-top: 1em;
}
h2 {
  font-size: 18px;
  margin-top: 2em;
}


main section:nth-of-type(1) p {
  color: rgb(87, 87, 87);
  margin-right: 1em;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 1em ;
}
main section:nth-of-type(1){
  display: flex;
  flex-direction: column;
}

@media (min-width:768px){
  main section:nth-last-of-type(1){
    flex-direction: row;
  }
}


/* swipe funtie met "nu bij IKEA"*/


section:nth-of-type(2) article:nth-of-type(1){
  background-color: #017cc3;
  color: white; 
}


section:nth-of-type(2) article:nth-of-type(2){
  background-color:  #017cc3;
  color: white; 
}

section:nth-of-type(2) article:nth-of-type(3){
  background-color:  #FFDB00;
  color: white; 
}


main section:nth-of-type(2) p {
  color: white;
  font-family: "Ikea font";
  padding-left: 1.5em;
  margin: 1em;
  padding-bottom: 7em;
  margin-top: -1.5em;

}
main section:nth-of-type(2) h3 {
  color: white;
  font-family: "Ikea font";
  padding: 1em;
  margin: 1em;
}

main section:nth-of-type(2) {
display: flex;
overflow-x: auto;
scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
gap: 20px;
}


main section:nth-of-type(2) img {
  width: 26em;
}


/* gedeelte met vrouw op de fiets */

/*NOG DOEN hier */

/* section met de ruimtes scroll functie */

main section:nth-of-type(4) img {
  width:50%; 
  margin-top: 2em;
}

main section:nth-of-type(4) {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
  gap: 20px;
  }


/* section met dit mag je niet missen */

main section:nth-of-type(5) img {
  width:50%; 
  margin-top: 2em;
}

main section:nth-of-type(5) {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
  gap: 20px;
  }


  /* belangrijke mededelingn stukje section */


main section:nth-of-type(6) p {
  color: rgb(85, 85, 85);
  font-size: 14px;
  line-height: 22px;
}

main section:nth-of-type(6) ul{
  color: rgb(85, 85, 85);
  font-size: 14px;
  line-height: 30px;
}

/* powerbank melding stukje div, Ik heb er een div van gemaakt omdat de section niet werkt. Als ik een section aan roep in mijn main dan verspringt mijn section 4 in de main  dus ik doe het nu even met divs*/


main section:nth-of-type(7) {
  background-color:#484848;
  color: #eee;
  padding: 1em;
  padding-bottom: 5em;

}

main section:nth-of-type(7) li {
  color: #eee;
  font-size: 15px;
  margin: 1em;

}

main section:nth-last-of-type(7) h2 {
  color: #eee;
  margin: 1em;

} 


/* gedeelte van de ideeen op basis van producten */


main section:nth-of-type(8) img {
  width:77%;
  height: auto; 
  margin-top: 1em;
}


main section:nth-of-type(8){
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
  gap: 15px;
}

  /* gedeelte service van IKEA De services */

main section:nth-of-type(9) img {
  width:52%;
  height: auto; 
  margin-top: 1em;

}
  
main section:nth-of-type(9) {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
  gap: 15px;

}


      /* overige */
button {
  background-color: #f2f2f2;
  font-family: "Ikea font";
  padding: 0.1rem;
  border-radius: 3em;
  padding-left: 2em;
  padding-right: 2em;
  border: none;
  font-weight: bold;

}

main section:nth-of-type(10) {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
  gap: 15px;

  }


  /* gedeelte met word ikea lid */



  main section:nth-of-type(11) {
    background-color: #F5F5F5;
    padding-bottom: 3em;
 }


 main section:nth-of-type(11) h3 {
  font-size: 16px;
  padding-top: 4em;
}


main section:nth-of-type(11) p {
  font-size: 15px;
}

  main section:nth-of-type(11) button{
    font-size: 12px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: black;
    color: white;
    
  }


  main section:nth-of-type(11) h5 {
    font-size: 15px;
    line-height: 3.5em;
  }

  main section:nth-of-type(11) img {
    width: 15em;
  }

  main section:nth-of-type(11) img:nth-of-type(2) {
    width: 30em;
  }
