/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text:#111;
    --color-background:#eee;
    
}

@font-face {
  font-family: "ikea font";
  src: url("../fonts/noto-ikea-700.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Ikea font";
  src: url("../fonts/noto-ikea-400.woff2");
  font-weight: 400;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* header stuk */
/* zwarte header stukje 1e section in header  */ 

body{
  font-family:"Ikea font";
}

header section:nth-of-type(1) ul li:nth-of-type(1){
  margin-right: auto;

}

header section:nth-of-type(1){
  text-align: right;
}

header section:nth-of-type(1) img {
  margin-right: 10px;
  width: 40px;
  height: auto;
}

header section:nth-of-type(1) ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;

}

header section:nth-of-type(1) li {
  display: flex;
  align-items: center;
  font-size: 13px;

}

header section:nth-of-type(1) {
  background-color: black;
  padding: 4px;
  color: white;
}



/*logo en menu balkje*/


header section:nth-of-type(2) ul {
  list-style: none;
  display: flex;
  align-items: center;
 gap: 1em;
}

header section:nth-of-type(2) li:hover{
  background-color: #eee;
  border-radius: 2em;
}


header section:nth-of-type(2) ul li:first-of-type{
  margin-right: auto;
}

header section:nth-of-type(2) img {
  width: 2em;
}
header section:nth-of-type(2) ul li:first-child img {
  width: 90px;
}


header > nav {
  position: fixed;
  inset: 0;
  background-color: rgb(255, 0, 0);
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

header > nav.open {
  transform: translateX(0);
}
header button {
	z-index: 2;
	position: relative;
	border: none;
	background-color: white;
}

/* header stukje van de zoek balk */

header section:nth-of-type(3){
  background-color: rgb(238, 238, 238);
  color: rgb(87, 87, 87);
  margin: 1em;
  border-radius: 5em;
  font-size: 14px;
display: flex;
justify-content: space-between;
padding-left: 1em;
padding-right: 1em;
gap: 1em;

}
header section:nth-of-type(3) img {
  width: 25px;
}
header section:nth-of-type(3) p {
  margin-right: 11em;
}



/* main stuk hier beneden */

main {
margin: 1em 1em;
}


main img:nth-of-type(1){
  width: 100%;
  height: auto;

}

main video:nth-of-type(1){
  width: 100%;
  height: auto;

}


h1 {
  padding-top: 1em;
  font-size:clamp(1.5em, 5vw, 2.5em); /* sanne heeft me uit gelegd is dat hij niet groter */
}

@media (min-width: 786px) {
  h1 h2 {
    /* font-size: 36px;   */
    /* hier word de letterype groter als je het scherm open trekt*/
  }
}



h2 {
  font-size:clamp(0.7em, 3.5vw, 1.5em); 
  margin-top: 2em;
  margin-bottom: 2em;
}


main section:nth-of-type(1) p {
  color: rgb(87, 87, 87);
  margin-right: 1em;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 1em ;
}

main section:nth-of-type(1) img video{
  display: flex;
  justify-content: space-between;
  align-items:center;

}


@media (width > 40em) {
  main section:nth-of-type(1) {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
  }

  main section:nth-of-type(1) h1,
  main section:nth-of-type(1) h2,
  main section:nth-of-type(1) p {
    grid-column:1/-1; 
  }

}

/* swipe funtie met "nu bij IKEA"*/

main section:nth-of-type(2) ul {
  margin:0;
  padding:0;
  list-style-type:"";
  margin-top: 2em;
  
  display:flex;
  overflow-x:auto;
  gap:1em;
  
  scroll-snap-type:x mandatory;
  
  overscroll-behavior-x:contain;
}

main section:nth-of-type(2) li {
  scroll-snap-align:center;
  
  width:min(80%, 24em);
  flex-shrink:0;
  background: #027ABE;
  
  display:flex;
  flex-direction:column;
}

main section:nth-of-type(2) li:nth-of-type(1){
  background-color: #FFDB01;
}

main section:nth-of-type(2) li img {
  width:100%;
  order:-1;
}

main section:nth-of-type(2) li h3 {
  margin:0;
  padding:2rem 2rem 0 2rem;
}

main section:nth-of-type(2) li p {
  margin:0;
  margin-bottom:auto;
  line-height: 1.7em;
  padding:0 2rem 0 2rem;
}

main section:nth-of-type(2) li a {
  padding:0 2rem 2rem 2rem;
}
main section:nth-of-type(2) {
  margin-bottom: 10em;
  font-family: "Ikea font";
}

main section:nth-of-type(2) a {
background-color: #111;
margin: 0;
font-family: "Ikea font";
font-weight: bold;
text-decoration: none;
color: white;
  width: 70px; 
  height: 70px; 
  line-height: 70px; 
  text-align: center; 
  border-radius: 50%;
  margin: 2em;
}
main section:nth-of-type(2) li:nth-of-type(2){
  background-color: #F5F5F5;
}

@media (width > 40em) {
  li {
    width:18em;
  }
}

/* gedeelte met vrouw op de fiets */

main section:nth-of-type(3) article:nth-of-type(2) {
  color: white;
background-color: #02853E;
padding-top: 0.5em;
padding-bottom: 4em;
font-family: "Ikea font";

}



@media (width > 60em) {
  main section:nth-of-type(3) {
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
}



main section:nth-of-type(3) a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1em;
  font-weight: bold;
  border-radius: 5em;
  font-size: 12px;
  margin: 3rem;
  padding-left: 2em;
  padding-right: 2em;
}

main section:nth-of-type(3) h3{
  margin: 3rem;
}
main section:nth-of-type(3) p {
  margin: 3rem;
  font-size: 14px;
  margin-top: -3em;
}


/* gedeelte met vrouw op de fiets */

main section:nth-of-type(3) article:nth-of-type(2) {
  color: white;
background-color: #02853E;
padding-top: 0.5em;
padding-bottom: 4em;
font-family: "Ikea font";

}



@media (width > 60em) {
  main section:nth-of-type(3) {
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
}



main section:nth-of-type(3) a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1em;
  font-weight: bold;
  border-radius: 5em;
  font-size: 12px;
  margin: 3rem;
  padding-left: 2em;
  padding-right: 2em;
}

main section:nth-of-type(3) h3{
  margin: 3rem;
}
main section:nth-of-type(3) p {
  margin: 3rem;
  font-size: 14px;
  margin-top: -3em;
}

/* section met de ruimtes scroll functie */


main section:nth-of-type(4) img {
  width:16em; 
}

main section:nth-of-type(4) {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
  gap: 20px;
  }

  main section:nth-of-type(4) a {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    background-color: #f5f5f5;
    color: black;
    text-decoration: none;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: 600;
    border-radius: 40em;
  }

main section:nth-of-type(4){
  display: flex;
}

main section:nth-of-type(4) article {
  position: relative;
}

/* section met dit mag je niet missen */

main section:nth-of-type(5) img {
  width:16em; 
}

main section:nth-of-type(5) {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
  gap: 20px;
  }

  main section:nth-of-type(5) a {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    background-color: #f5f5f5;
    color: black;
    text-decoration: none;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: 600;
    border-radius: 40em;
  }

  main section:nth-of-type(5){
    display: flex;
  }
  
  main section:nth-of-type(5) article {
    position: relative;
  }






  /* belangrijke mededelingn stukje section */


main section:nth-of-type(6) p {
  color: rgb(85, 85, 85);
  font-size: 14px;
  line-height: 22px;
}

main section:nth-of-type(6) ul{
  color: rgb(85, 85, 85);
  font-size: 14px;
  line-height: 30px;
}
main section:nth-of-type(6){
  margin-top: 3em;
}

main section:nth-of-type(6) {
  display: grid;
  grid-template-columns: 1fr;
}

@media (width > 40em) {
  main section:nth-of-type(6) {
    grid-template-columns: 1fr 1fr;
  }
  main section:nth-of-type(6) h2, main section:nth-of-type(6) p, main section:nth-of-type(6) ul {
grid-column: 1/2;
  }
  main section:nth-of-type(6) img{
    grid-column: 2/3;
    grid-row: 1;
  }
}




/* powerbank melding stukje div, Ik heb er een div van gemaakt omdat de section niet werkt. Als ik een section aan roep in mijn main dan verspringt mijn section 4 in de main  dus ik doe het nu even met divs*/


main section:nth-of-type(7) {
  background-color:#484848;
  color: #eee;
  padding: 1em;
  padding-bottom: 5em;
 
}


main section:nth-of-type(7) a {
  font-size: 12px;
  background-color: #f5f5f5;
  color: black;
  text-decoration: none;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: 600;
  border-radius: 40em;}


main section:nth-of-type(7) li {
  color: #eee;
  font-size: 15px;
  margin: 1em;
  padding-bottom: 2em;

}

main section:nth-last-of-type(7) h2 {
  color: #eee;
  margin: 1em;

} 


/* gedeelte van de ideeen op basis van producten */


main section:nth-of-type(8) img {
  width:20em;
  height: auto; 
  margin-top: 1em;
}


main section:nth-of-type(8){
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
  gap: 15px;
}

  /* gedeelte service van IKEA De services */

main section:nth-of-type(9) img {
  width:15em;
  height: auto; 
  margin-top: 1em;

}
  
main section:nth-of-type(9) {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
  gap: 15px;

}


main section:nth-of-type(9) a {
  position: absolute;
  top: 80%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  background-color: #f5f5f5;
  color: black;
  text-decoration: none;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: 600;
  border-radius: 40em;
}

main section:nth-of-type(9){
  display: flex;
}

main section:nth-of-type(9) article {
  position: relative;
}


      /* button gedeelte */


main section:nth-of-type(10) {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /*zorgt er voor dat de scroll functie blijft op de pagina en niet naar buiten trekt (gevraagt aan chat)*/
  gap: 15px;
  margin-bottom: 1em;
  }

main section:nth-of-type(10)  button {
    font-size: 12px;
    background-color: #f5f5f5;
    color: black;
    text-decoration: none;
    padding: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: 600;
    border-radius: 40em;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
  
  }
  main section:nth-of-type(10) button:hover {
    background-color: #e8e8e8;
  }


  /* gedeelte van footer */

  footer {
    margin: 0;
    padding: 0;
    font-family: "Ikea font";
    background-color: #F5F5F5;
    padding-bottom: 3em;
  }


footer h4 { font-size: 16px;
 }


footer button {
  font-size: 12px;
    padding: 1.2em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: black;
    color: white;
    margin-bottom: 2em;
    border-radius: 2em;
font-weight: bold;
}

footer button:hover {
  background-color: #282828;
}

footer h5 {font-size: 15px;

} 

footer p {
  color: rgb(55, 55, 55);
  font-size: 14px;
  margin-right: 2em;
}

footer li {
  list-style-type: none;
  font-size: 13px;
  line-height: 3em;
  color: rgb(55, 55, 55);
  cursor: pointer;

}
  details summary{
 line-height: 6em;
 font-weight: 700;
 font-size: 14px;
 list-style-type: none;
 cursor: pointer;
  }
footer details:nth-of-type(1){
  padding-top: 1em;
}

footer summary{
  border-top: 1px solid #d3d3d3;
}
footer summary:nth-of-type(4){
  border-bottom: 1px solid #d3d3d3;
}


main section:nth-of-type(11) img {
  width: 45%;
  height: 100%;
}


main section:nth-of-type(11) img:nth-of-type(2) {
  height: 250px;
  object-fit: cover;
}


main section:nth-of-type(11){
  display: flex;
  gap: 10px;

flex-flow: row wrap;
justify-content: flex-start;
align-items: flex-start;

}




/* extra */

main a:nth-of-type(1) {
  list-style: none;
  color: black;
text-decoration: none;
border-bottom: solid 1px;
 padding-bottom: 1em;
 border-color: rgb(195, 195, 195);
 font-weight: 900;
 font-size: 13px;
}