/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

header img {width: 15em;
	margin-top: -5em;

}




header nav ul {

	list-style: none;
	display: flex;
	justify-content: space-between;
	gap: 1em;
}